foreignObject {
  box-sizing: border-box;
  font-family: sans-serif;
}

.map-node {
  padding: 10px;
  width: 120px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  /* color: rgb(196 196 196); */
}
